.from-card {
    position: relative;
    width: 50%;
    min-width: 500px;
    margin: auto;
    top: 100px;
}
input::-webkit-outer-spin-button,input::-webkit-inner-spin-button{    
    -webkit-appearance: none !important;
        margin: 0; 
}
input[type="number"]{
    -moz-appearance:textfield;
}