<nav class="navbar navbar-blue navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <span class="logo">
        <img src="../assets/img/logo-white.png"/>
      </span>
    </div>
    <div class="navvar-collapse navbar-ex1-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li><div style="padding: 15px"><i class="fa fa-user"></i>{{userName}}</div></li>
        <li (click)="logout()"><a href="javascript:void(0)"><i class="fa fa-power-off"></i>退出</a></li>
      </ul>
    </div>
  </div>
</nav>

