.financial {
    position: relative;
    z-index: 10;
    margin-top: -2px;
}
td span {
    padding: 0 4px;
}
.financial-content span {
    padding-right: 10px;
}
.panel-title {
    font-size: 22px;
}